/* Write your code here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 38px;
  font-weight: 600;
  color: #ffffff;
}
.carousel-container {
  width: 85%;
  max-width: 900px;
  display: flex;
  align-items: center;
}
.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.arrow {
  height: 24px;
  width: 24px;
}
